/* css/styles.css */

/* ----------------------------------------------------------------------------------
// General Styles
// --------------------------------------------------------------------------------*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
}
main {
    flex: 1; /* Grow to fill remaining space */
    padding: 100px 20px 60px; /* Top padding to account for header, bottom padding for footer */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------------------------------------------------
// Header Styles
// --------------------------------------------------------------------------------*/
header {
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fix header at the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure header is above other content */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #EBB866; 
}
/* ----------------------------------------------------------------------------------
// Login & Registration Styles
// --------------------------------------------------------------------------------*/
.auth-container {
    background: linear-gradient(45deg, #ffffff, #9e9c9c);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.auth-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    width: 100%;
}

.auth-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.auth-container button {
    width: 50%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}

.auth-container button:hover {
    background-color: #333;
}

.auth-container p {
    margin-top: 15px;
    color: #555;
}

.auth-container a {
    color: #007bff;
    text-decoration: none;
}

.auth-container a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* ----------------------------------------------------------------------------------
// Footer Styles
// --------------------------------------------------------------------------------*/
/* css/styles.css */
footer {
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
    padding: 20px 0;
    text-align: center;
    position: fixed;
    margin-top: auto; /* Push footer to the bottom of the page */
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer nav ul li {
    margin-left: 20px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

footer nav ul li a:hover {
    color:#EBB866; 
}